<a href="https://colab.research.google.com/github/lapasofa/test_csv/blob/master/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled26_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/gold _total.csv', encoding='cp1251')
df.head()

  Дата,"Цена","Откр.","Макс.","Мин.","Объём","Изм. %"
0  26.08.2020,"1.909,70","1.935,70","1.936,90","1...
1  25.08.2020,"1.923,10","1.935,90","1.944,10","1...
2  24.08.2020,"1.939,20","1.947,90","1.970,30","1...
3  21.08.2020,"1.947,00","1.955,60","1.963,10","1...
4  20.08.2020,"1.946,50","1.934,40","1.963,10","1...